<template name="inscription">


<form class="modal hide form-horizontal" id="register">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Inscription</h3>
    </div>
    <div class="modal-body">
        {{> error}}
        <fieldset>
        <div class="control-group">
            <label class="control-label" for="register_login">Identifiant</label>
            <div class="controls">
                <input type="text" name="register_login" id="register_login" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="register_password">Mot de passe</label>
            <div class="controls">
                <input type="password" name="register_password" id="register_password" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="register_password2">Mot de passe (encore)</label>
            <div class="controls">
                <input type="password" name="register_password2" id="register_password2" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="register_team">Un petit nom d'équipe</label>
            <div class="controls">
                <input type="text" name="register_team" id="register_team" placeholder="ex : les tigres"/>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">En fait, non, merci</a>
        <input type="submit" class="btn btn-primary" value="C'est tout bon !" />
    </div>
</form>

</template>