<template name="list_members">
{{#if edit}}
<div class="row-fluid">
    <div class="span4">
        {{#if notEnough}}
        <h2>Créer votre foyer </h2>
        {{else}}
        <h2>Gérer votre foyer : </h2>
        {{/if}}
        <p>Pour commencez, vous devez créer au moins deux membres (plus si vous êtes dans une colloc, un ménage à 3 ou si vous exploitez vos enfants).</p>
        {{#if members}}
        <ul>
            {{#each members}}
            <li>{{name}} (<a href="#" class="edit" id="{{_id}}">modifier</a>)</li>
            {{/each}}
        </ul>
        {{/if}}

    </div>
    <div class="span8">
        {{> add_members}}
    </div>
</div>
{{else}}
<div class="row-fluid">
    <div class="span12">
      <h3>Qui <a href="#" id="edit"><i class="icon-cog"></i></a></h3>
      <div class="btn-group" data-toggle="buttons-radio">
        {{#each members}}
            <button class="btn" id="{{_id}}">{{name}}</button>
        {{/each}}
      </div>
  </div>
</div>
{{/if}}
</template>