<template name="login">


<form class="modal hide form-horizontal" id="login">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Connexion</h3>
    </div>
    <div class="modal-body">
        {{> error}}
        <fieldset>
        <div class="control-group">
            <label class="control-label" for="user_login">Identifiant</label>
            <div class="controls">
                <input type="text" name="user_login" id="user_login" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="user_password">Mot de passe</label>
            <div class="controls">
                <input type="password" name="user_password" id="user_password" />
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">En fait, non, merci</a>
        <input type="submit" class="btn btn-primary" value="C'est tout bon !" />
    </div>
</form>

</template>